@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf');
}

.icon {
    -fx-font-family: iconfont;
}

.root {
    theme-color: rgba(0, 231, 125, 0.48);
    theme-color-dark: rgba(0, 231, 125, 0.75);
    -fx-border-color: theme-color;
    -fx-border-width: 1;
    -fx-background-size: cover;
    -fx-background-image: url("../images/background.jpg");
}

.top {
    -fx-background-color: theme-color;
}

.left {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.center {
    -fx-border-color: theme-color-dark;
    -fx-border-width: 0 0 0 1;
}

.button {
    -fx-background-color: rgba(255, 255, 255, 0.55);
    -fx-background-radius: 2;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}

.button:pressed {
    -fx-background-color: rgba(240, 240, 240, 0.65);
}

.radio-button {

}

.text-field {
    /*-fx-font: ;*/
    /*-fx-text-fill: brown;*/
    /*-fx-font-size: 14;*/
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    /*-fx-alignment: baseline-center;*/
}

.text-field:focused {
    -fx-border-color: theme-color-dark;
}

.combo-box {
    -fx-background-color: rgba(255, 255, 255, 0.55);
    -fx-background-radius: 2;
    -fx-cursor: hand;
}

.combo-box:hover {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}

.combo-box:pressed {
    -fx-background-color: rgba(240, 240, 240, 0.65);
}

.color-picker {
    -fx-background-color: rgba(255, 255, 255, 0.55);
    -fx-background-radius: 2;
    -fx-cursor: hand;
}

.color-picker:hover {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}

.color-picker:pressed {
    -fx-background-color: rgba(240, 240, 240, 0.65);
}

.progress-bar {
    -fx-accent: theme-color-dark;
}

.progress-bar .track {
    -fx-background-color: derive(theme-color, 50%);
}

/* top */
.logo {
    -fx-image: url("../images/logo.png");
}

.title {
    -fx-fill: white;
    /*-fx-font-family: 'system';*/
    -fx-font-size: 20;
}

.closex {
    -fx-spacing: 5;
    -fx-font-family: iconfont;
}

/* left */
.menu-vbox {
    -fx-cursor: hand;
}

.menu-row {
    -fx-pref-height: 35;
}

.menu-row .icon {
    -fx-font-size: 18;
}

.menu-row .radio-button {
    /*-fx-content-display: center;*/
    -fx-font-size: 15;
    -fx-label-padding: 0 0 0 33;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 3;
}

.menu-row .radio-button:selected {
    -fx-background-color: theme-color-dark;
    -fx-border-color: theme-color-dark;
}

.menu-row .radio-button .radio {
    -fx-background-color: transparent;
}

.menu-row .radio-button .radio .dot {
    -fx-background-color: transparent;
}

/* center */

.system-grid .label {
    -fx-background-color: rgba(250, 250, 250, 0.6);
    -fx-padding: 0 0 0 20;
}

#userbox {
    -fx-font-size: 13;
}

#userhint {
    -fx-text-fill: red;
}

#launchLabel {
    -fx-text-fill: green;
}

#btn_launch {
    -fx-font-size: 20;
}