@font-face {
   font-family: 'iconfont';
   src: url('../fonts/iconfont.ttf');
}
.icon{
	-fx-font-family: iconfont;
}
.icon-mid{
	-fx-font-size: 18;
}
.left-row{
	-fx-pref-height: 35;
}
.left-menu{
	-fx-padding: 0 0 0 16;
}
.left-menu.radio-button {
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 3;
}
.left-menu.radio-button:selected{
    -fx-background-color: #E8E9EC;
    -fx-border-color: #44AAF8;
}
.left-menu.radio-button .radio {
    -fx-background-color: transparent;
}
.left-menu.radio-button .radio .dot{
    -fx-background-color: transparent;
}